# Pandas Training

## Loading Data into Pandas

In [4]:
!pip install pandas

Requirement already satisfied: pandas in /Users/rajath/broadridge/.venv/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in /Users/rajath/broadridge/.venv/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rajath/broadridge/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/rajath/broadridge/.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/rajath/broadridge/.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/rajath/broadridge/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('matches.csv')

In [7]:
# df
df.head()
# df.head(3)
# df.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [8]:
df = pd.read_csv('pokemon_data.csv') 
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

For Reading Excel Files Need to Install a Third Party Package called xlrd

You can make use of 'pip install xlrd' from scripts directory otherwise in Jupyter Notebook as shown below.,

In [9]:
!pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 96.5/96.5 kB 1.5 MB/s eta 0:00:00[31m1.0 MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [12]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 2.4 MB/s eta 0:00:00[31m1.6 MB/s eta 0:00:01m
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [13]:
df_xlsx = pd.read_excel('pokemon_data.xlsx')
# df_xlsx.head()

In [ ]:
df_tab = pd.read_csv('pokemon_data.txt')
df_tab.head()

In [ ]:
df_tab = pd.read_csv('pokemon_data.txt', delimiter='\t')
df_tab.head()

### Reading Data in Pandas

In [ ]:
df.columns

Reading a Particular Column

In [ ]:
# df['Name']
df['Name'][0:5]
# df.Name

Reading Multiple Columns

In [ ]:
print(df[['Name','Speed','Generation']][0:5])

Reading Each Row

In [ ]:
# Reading a Particular Row
print(df.iloc[1])

In [ ]:
# Reading a Set of Rows
print(df.iloc[0:4])

Iterating over the data frame

In [ ]:
# for index, row in df.iterrows():
#     print(index, row['Name'])
#     print(index, row)
df.loc[df['Type 1'] == 'Fire'][0:5]

### Sorting / Describing Data

In [ ]:
df.describe()

In [ ]:
# df.sort_values('Name')[0:5] 
# df.sort_values('Name', ascending=False)[0:5]
df.sort_values(['Type 1', 'HP'], ascending=[True, False])[0:5]

#### Making Changes to the Data

In [ ]:
df['Total'] = df['HP']+df['Attack']

In [ ]:
df.head(5)

In [ ]:
df = df.drop(columns=['Total'])

In [ ]:
df.head(5)

In [ ]:
df['Total'] = df.iloc[:,4:6].sum(axis=1)

In [ ]:
df.head(5)

In [ ]:
cols = df.columns.values

In [ ]:
cols

In [ ]:
cols = list(df.columns)

In [ ]:
cols

In [ ]:
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

In [ ]:
df.head()

In [ ]:
df.to_csv('modified.csv', index=False)

#### To Save File in Excel need to install third party library called 'openpyxl'

In [ ]:
!pip install openpyxl

In [ ]:
df.to_excel('modified.xlsx', index=False)

In [ ]:
df.to_csv('modified.txt', index=False, sep='\t')

#### Filtering of Data

In [ ]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')][0:10]
df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')][0:10]
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)][0:10]

In [ ]:
new_df

In [ ]:
# new_df = new_df.reset_index()

In [ ]:
# new_df

In [ ]:
new_df.reset_index(drop=True, inplace=True)

In [ ]:
new_df

In [ ]:
df.loc[~ df['Name'].str.contains('Mega')][0:5]

In [ ]:
import re

df.loc[df['Type 1'].str.contains('Fire|Grass', regex=True)][0:5]

In [ ]:
df.loc[df['Type 1'].str.contains('Fire|Grass', flags=re.I, regex=True)][0:5]

In [ ]:
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)][0:5]

#### Conditional Changes

In [ ]:
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer'

In [ ]:
df.head()

In [ ]:
df.loc[df['Type 1'] == 'Grass', 'Legendary'] = True

In [ ]:
df.head()

In [ ]:
df.loc[df['Speed'] > 10, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']

In [ ]:
df.head()

In [ ]:
df = pd.read_csv('pokemon_data.csv') 
df.head()

#### Aggregate Statistics (GroupBy)

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

In [ ]:
df.groupby(['Type 1']).mean().sort_values('Speed', ascending=False)

In [ ]:
df.groupby(['Type 1']).sum()
df.groupby(['Type 1']).count()

#### Working with Large Amounts of Data

In [ ]:
# for df in pd.read_csv('pokemon_data.csv', chunksize=5):
#     print("CHUNK DF")
#     print(df)